<div id="miembros" class="text-center">
  <h1 class="mat-card-title main-title">Pagina de miembros</h1>
  <p>Ver, editar y dar de baja a miembros. </p>

  <div class="table-container">
    <button
      class="action-button"
      (click)="openEmptyDialog()"
      mat-flat-button color="primary">
      <mat-icon>add</mat-icon> &nbsp;
      Agregar nuevo</button>
    <button
      class="action-button"
      mat-flat-button color="accent">
      <mat-icon>file_upload</mat-icon> &nbsp;
      Importar</button>

    <br>
    <app-miembros-table>

    </app-miembros-table>
  </div>

</div>
