#inicio{
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  text-align: center;
}
h1.main-title{
  margin: 0;
  padding: 20px;
}
p{
  padding: 0;
  margin: 0;
}

.list-container{
  padding: 1em 15em 15em 15em;
  text-align: center;

  a{
    margin-left: 100px;
  }
}
