<div id="inicio" class="text-center">
<!--  <h1 class="mat-card-title main-title">Bienvenido al sistema de miembros IBM</h1>-->
<!--  <p>Tu usuarios es: JoseP y tienes acceso a los siguientes modulos:</p>-->

  <h1 class="mat-card-title main-title">IBM - Dashboard</h1>
  <mat-grid-list cols="3" rowHeight="2:1">
    <mat-grid-tile>New members this month</mat-grid-tile>
    <mat-grid-tile>Miembros sirviendo y ministerios</mat-grid-tile>
    <mat-grid-tile>Porcentaje bautizados, convertidos, sirviendo y stand by</mat-grid-tile>
    <mat-grid-tile>Miembros por departamento</mat-grid-tile>
    <mat-grid-tile>Rango de edades miembros</mat-grid-tile>
<!--    <mat-grid-tile>6</mat-grid-tile>-->
  </mat-grid-list>
<!--  <div class="list-container">-->
<!--    <mat-list>-->
<!--      <mat-list-item *ngIf="!_authentication.isAdmin()">Bienvenida-->
<!--        <a routerLink="/ibm-admin/bienvenida">Ir a modulo</a>-->
<!--      </mat-list-item>-->
<!--      <mat-divider></mat-divider>-->
<!--      <mat-list-item>Miembros-->
<!--        <a routerLink="/ibm-admin/miembros">Ir a modulo</a>-->
<!--      </mat-list-item>-->
<!--      <mat-divider></mat-divider>-->
<!--      <mat-list-item *ngIf="_authentication.isAdmin()">Usuarios-->
<!--        <a routerLink="/ibm-admin/usuarios">Ir a modulo</a>-->
<!--      </mat-list-item>-->
<!--    </mat-list>-->
<!--  </div>-->
</div>
