<mat-card>
  <mat-list>
    <mat-list-item><span>Informacion de miembro</span></mat-list-item>
    <mat-divider></mat-divider>
    <mat-form-field appearance="standard" >
      <mat-label>Nombre</mat-label>
      <input
        [(ngModel)]="Miembro.Nombre"
        matInput placeholder="Nombres">
    </mat-form-field>
    <mat-form-field appearance="standard" >
      <mat-label>Apellidos</mat-label>
      <input [(ngModel)]="Miembro.Apellido" matInput placeholder="Apellidos">
    </mat-form-field>
    <br>
    <mat-form-field appearance="standard" >
      <mat-label>Correo</mat-label>
      <input [(ngModel)]="Miembro.Email" matInput value="miembro@gmail.com">
    </mat-form-field>
    <br>
    <mat-form-field appearance="standard" >
      <mat-label>Genero</mat-label>
      <input matInput [(ngModel)]="Miembro.Genero" value="M">
    </mat-form-field>
    <mat-form-field appearance="standard" >
      <mat-label>Estado civil</mat-label>
      <input matInput [(ngModel)]="Miembro.EstadoCivil" value="Soltero">
    </mat-form-field>
    <br>
    <mat-form-field appearance="standard" >
      <mat-label>Fecha nacimiento</mat-label>
      <input [(ngModel)]="Miembro.FechaNacimiento" matInput [matDatepicker]="picker">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
<!--      <mat-label>Fecha nacimiento</mat-label>-->
<!--      <input matInput [(ngModel)]="Miembro.FechaNacimiento" placeholder="">-->
    </mat-form-field>
<!--    <br>-->
    <mat-form-field appearance="standard" >
      <mat-label>Fecha bautismo</mat-label>
      <input [(ngModel)]="Miembro.FechaBautismo" matInput [matDatepicker]="picker2">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
<!--      <mat-label>Fecha bautismo</mat-label>-->
<!--      <input matInput [(ngModel)]="Miembro.FechaBautismo" placeholder="Casado, soltero, etc">-->
    </mat-form-field>

    <mat-list-item>
          <span>
            Contacto
          </span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-form-field appearance="standard" >
      <mat-label>Direccion</mat-label>
      <input matInput [(ngModel)]="Miembro.Direccion">
    </mat-form-field>
    <br>
    <mat-form-field appearance="standard">
      <mat-label>Telefono 1</mat-label>
      <input matInput [(ngModel)]="Miembro.Telefono1">
    </mat-form-field>
    <mat-form-field appearance="standard" >
      <mat-label>Telefono 2</mat-label>
      <input matInput [(ngModel)]="Miembro.Telefono2">
    </mat-form-field>
    <br>
    <!--      <button mat-raised-button color="warn">Limpiar datos</button>-->
    <!--      <button mat-raised-button color="primary">Guardar datos</button>-->

  </mat-list>
</mat-card>
