<div id="upload-page">
  <h3>Subir archivo de miembros</h3>
  <div id="upload-container">
    <mat-icon class="icon">
      file_upload
    </mat-icon>
    <p>Arrastre el archivo,  </p>
    <p>o bien</p>
    <button mat-raised-button color="primary">
      Elija un archivo
    </button>
  </div>
  <div id="instructions">
    <h4>Instrucciones</h4>
    <br>
    <p>
      Esta pagina le permitira subir un archivo excel (.csv o .xls)
      que contiene miembros, el formato debe ser parecido al siguiente <a href="#">ver formato.</a>
    </p>
    <br>
    <p>
      Si algun miembro presente en el archivo ya ha sido agregado, el sistema se
      encargara de actualizar los datos del mismo, si hubiesen cambios.
    </p>
  </div>
<!--  <mat-grid-list cols="2" rowHeight="2:1">-->
<!--    <mat-grid-tile class="upload-tile">1</mat-grid-tile>-->
<!--    <mat-grid-tile>2</mat-grid-tile>-->
<!--    <mat-grid-tile>3</mat-grid-tile>-->
<!--    <mat-grid-tile>4</mat-grid-tile>-->
<!--  </mat-grid-list>-->
</div>
